/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


* {
    font-family: sans-serif;
  }

  body {
    background: 
    linear-gradient(
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .4)
    ),
    url(https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    height: 100vh;
  }

  h1 {
    text-align: center;
    font-family: 'Shadows Into Light';
    color: white;
  }
h2 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

main {
  font-family: 'Solway', serif;
  color: rgb(255, 252, 248);
  height: 75px;
  width: 75%;
  margin: 0 auto;
  max-width: 600px;
}
legend {
  display: block;
  text-align: center;
  font-family: 'Solway', serif;
}

#start-quiz {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  padding: 7px;
}

#submit {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

#reset {
  display: block;
  margin: 0 auto;
}
fieldset {
  margin: 20px;
}

label {
  font-size: 15px;
  font-family: 'Solway', serif;
}

#Score {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

#QuestionNumber {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-size: 14px;
  text-align: center;
}

#submit {
  padding: 7px;
  border-radius: 25px;
}



@media (min-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}