/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


* {
    font-family: sans-serif;
  }

  body {
    background-color: orange;
    font-family: 'Solway', serif;
  }

  h1 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
  }
h2 {
  text-align: center;
  font-family: 'Solway', serif;
}

main {
  font-family: 'Solway', serif;
  color: red;
  height: 75px;
  width: 75%;
  margin: 0 auto;
  max-width: 600px;
}
legend {
  display: block;
  text-align: center;
  font-family: 'Solway', serif;
}

#start-quiz {
  display: block;
  margin: 0 auto;
}

#submit {
  display: block;
  margin: 0 auto;
}

#reset {
  display: block;
  margin: 0 auto;
}
fieldset {
  margin: 20px;
}

@media (min-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

  }
}